.img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:400px;
}
////////////////////////////////////////////

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    font-family: 'Courgette', cursive;
}

.center {
  display: block;
margin-left: 20px;
margin-right: 20px
  margin-top: 10px;
  height: 100px;
  width: 100px;

}
.bg-light {
    background-color: #f8f9fa00!important;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    margin-left: 20px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    font-family: 'Courgette', cursive;
}
.navbar-expand-lg .navbar-collapse {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-left: 50px
}
*, ::after, ::before {
    box-sizing: border-box;

}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    font-family: 'Courgette', cursive;
    margin-right: 30px;
}
////////////////////////////////////////////////////////////////////////////////////

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
    margin-left: 400px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}

.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 100px;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 50px;
}

.bg-img {
  /* The image used */
  background-image: url("form.jpg");

  min-height: 380px;
}

.content {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 111%;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  opacity: 100%;
}

h8{
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-style: normal;
      font-size: 66px;
      letter-spacing: 7px;
      line-height: 1.45em;
      text-transform: uppercase;
      white-space: pre-wrap;
}
h1{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 66px;
  letter-spacing: 7px;
  line-height: 1.45em;
  text-transform: uppercase;
  white-space: pre-wrap;
  font-weight: bold;
}

.container0{
  margin-top: 25px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 650;
}

.find-widget{
  font-weight: 650;
}

/////////////////////////
.team-grid {
  color:#313437;
  background-color:#b7d7eb;
}

.team-grid p {
  color:#7d8285;
}

.team-grid h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-grid h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-grid .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-grid .intro p {
  margin-bottom:0;
}

.team-grid .people {
  padding:50px 0;
}

.team-grid .item {
  margin-bottom:30px;
}

.team-grid .item .box {
  text-align:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:280px;
  position:relative;
  overflow:hidden;
}

.team-grid .item .cover {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(187, 197, 206, 0.75);
  transition:opacity 0.15s ease-in;
  opacity:0;
  padding-top:80px;
  color:#fff;
  text-shadow:1px 1px 1px rgba(0,0,0,0.15);
}

.team-grid .item:hover .cover {
  opacity:1;
}

.team-grid .item .name {
  font-weight:bold;
  margin-bottom:8px;
}

.team-grid .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#bbd8fb;
  letter-spacing:2px;
  font-size:13px;
  margin-bottom:20px;
}

.team-grid .social {
  font-size:18px;
}

.team-grid .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-grid .social a:hover {
  opacity:1;
}

.col-md-4.col-lg-3{
    flex: 0 0 25%;
    max-width: 20%;
}
